.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html

public/upload/*
!public/upload/thumb.jpg

public/userfiles/*

# IDE Files
#-------------------------
.idea/*
tmp/*
