/* #Site Styles
================================================== */
body { font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; }

/* #Second menu
================================================== */
.nav-stacked li ul li{ margin: 0 0 0 20px; }

/* #Banner
================================================== */
.bottom-special .special { text-align: center; }

/* #Carousel
================================================== */
.news-content .carousel { width: 750px !important; margin: 30px auto; }

/* #Contact form
================================================== */
img.captcha { margin-top: -5px; margin-bottom: -5px; }

/* #Tag
================================================== */
a.tag {
	border: solid 1px #ddd;
	padding: 3px 5px;
	margin: 2px;
	display: inline-block;
	font-size: .9em;
	color: #0099da;
	text-decoration: none;
}

/* #Media Queries
================================================== */
@media (max-width: 575.99px) {}
@media (min-width: 576px) and (max-width: 767.99px) {}
@media (min-width: 768px) and (max-width: 991.99px) {}
@media (min-width: 992px) and (max-width: 1199.99px) {}
@media (min-width: 1200px) {}